.Chat{
    background: #f3f6fb;
    margin: 20px;
    border-radius: 10px;
    flex: 2 !important;
    max-height: 100vh;
    /* min-height: 100vh; */
    /* position: relative; */
}

.Chat .messageList {
    overflow: auto;
    height: calc(100vh - 125px);
}

.singleMessage{
    display: flex;
    align-items: center;
    padding: 10px;
    
}
.singleMessage img {
    margin: 0px 10px;
    border-radius: 50%;
    max-width: 60px;
}
.singleMessage .message {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px #e9ecf2;
}
.singleMessage .time {
    font-size: 10px;
    margin-top: 8px;
    color: #929aac;

    position: absolute;
    bottom: -15px;
    width: max-content;
}



.singleMessage.fromMessage{
    flex-direction: row-reverse;
}

.singleMessage.fromMessage .message {
    background: #1a233c;
    color: white;
}

.singleMessage.fromMessage  .time {
    right: 0;
}

.sendMessage{
    display: flex;
    align-items: center;
    margin: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    color: #8890a4;
    /* position: absolute;
    bottom: 0;
    width: -webkit-fill-available; */
}
.sendMessage input{
    line-height: 2.4rem;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    flex: 1;
}
.sendMessage input:focus{
    outline: none;
 
}
.sendMessage input::placeholder {
    font-size: 15px;
}

.messageContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

.online{
    position: absolute;
    right: 13px;
    
    bottom: 13px;
    border: 1px solid white;
    max-height: 5px;
    max-width: 5px;
    background: #8890a4;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}
.online.active {
    background: #22bb9d;
}
.emojiContainer{
    position: relative;
}
.emojiContainer div:nth-child(1){
    margin-left: 15px;
    cursor: pointer;
}
.emojiContainer div:nth-child(2){
    position: absolute;
    right: -10px;
    bottom: 35px;
}

.fileUpload label{
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
    transform: rotate(75deg);
    font-size: 23px;
  }